@charset "UTF-8";
//////////////////////////////////////////

//color setting

//include by style.scss

//////////////////////////////////////////

/////////color setting

$navy :#1a2e45;
$red: #910000;
$gray_lighten: #f2f3f4;

////base settings



////////// project setting
$basefontColor:#222222;
$link: #a90000;


// $maincolor: 
// $color_main: 
$color_border: #e3e3e3;
// $color_button: $orange;
// $color_button_secondary: $brown_ash;
// $color_text_index: $brown_darken;
// $color_text_index_s: $brown_ash;
// $color_attention: 
// $color_link: 
// $color_border: 
// $color_notactive: 

