@import "colors.scss";
@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";
////////////////////////////////////////


// agreement


////////////////////////////////////////
.agreement{


///////////////////////////////////////

// nodule

////////////////////////////////////////

.section--pp{
    & + .section--pp{
        margin-top: 70px;

        @include mq( sp ){
            margin-top: 70px;
        }         
    }

    &__index{
        margin-bottom: 50px;
        position: relative;
        font-size: $fontsize_l;
        font-weight: bold;
        letter-spacing: 0.08em;
        line-height: 1;

        &:before{
            content: " ";
            width: 100px;
            height: 1px;
            background-color: $red;
            margin-top: 50px;
            margin-bottom: 50px;
            display: block;
        }

        @include mq( tab ){
            font-size: $fontsize_l_sp;
        }
        @include mq( sp ){
            margin-bottom: 25px;
        }        
    }


    ol{
        padding-left: 1em;
        counter-reset: c;

        li{
            list-style: none;
            counter-increment: c;
            padding-left: 1em;
            text-indent: -1.25em;

            &:before{
                content: counter( c ) ".";
                font-family: $fontFamily_en;
                color: $red;
            }
        }
    }


    a{
        text-decoration: underline;
        color: $red;
    }

}



///////////////////////////////////////

// style

////////////////////////////////////////


// .scrollTop{
//     display: none;
// }


}