<div class="loadingAnim">
    <div class="loadingAnim__copy">
        <div class="loadingAnim__copy__maskElement">
            <span class="mask"><span class="mask__element">価値あるリユースで、経済の循環を。</span></span>
        </div>
    </div>
</div>