<footer class="siteFooter">
    <div class="wrap">
        <div class="siteFooter__nav">
            <div class="siteFooter__nav__logo">
                <img src="<%- $path %>../img/logo.png" width="174" alt="MIDUNO">
            </div>
            <div class="siteFooter__nav__menus">
                <nav>
                    <ul>
                        <li><a href="">プライバシーポリシー</a></li>
                        <li><a href="">利用規約</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="siteFooter__copyright">© MIDUNO Inc. All Rights Reserved.</div>
        <!-- ***** nav toggle (only smartphone) -->
        <div class="navToggle"><span class="navToggle__text"></span></div>
        <!-- ///// nav toggle (only smartphone) -->
    </div>
</footer>
<%- include( '_scripts.ejs' ); %>