<header class="siteHeader">
	<div class="wrap">
		<h1 class="siteHeader__logo">
			<a href=<% if( $active=='top' ){ %>"#pageTop"<% }else{ %>"/"<% } %>><img src="<%- $path %>../img/logo.png" width="150" alt=""></a>
		</h1>
		<nav class="siteHeader__nav">
			<%- include( 'nav.ejs' ); %>
		</nav>
		<div class="navToggle">
			<i></i>
		</div>
	</div>
</header>

