<header class="siteHeader">
	<div class="wrap">
		<h1 class="siteHeader__logo">
			<img src="<%- $path %>../img/logo.png" width="150" alt="">
		</h1>
		<nav class="siteHeader__nav">
			<%- include( 'nav.ejs' ); %>
		</nav>
		<div class="navToggle">
			<i></i>
		</div>
	</div>
</header>

