<ul>
	<li><a href="#about">ABOUT</a></li>
	<li><a href="#service">SERVICE</a></li>
	<li><a href="#company">COMPANY</a></li>
	<li><a href="#reqruit">RECRUIT</a></li>
	<li><a href="#contact">CONTACT</a></li>
</ul>