<ul>
	<li><a href="<% if( $active !== "top" ){ %>/<%}%>#about">ABOUT</a></li>
	<li><a href="<% if( $active !== "top" ){ %>/<%}%>#service">SERVICE</a></li>
	<li><a href="<% if( $active !== "top" ){ %>/<%}%>#company">COMPANY</a></li>
	<li><a href="<% if( $active !== "top" ){ %>/<%}%>#reqruit">RECRUIT</a></li>
	<li><a href="<% if( $active !== "top" ){ %>/<%}%>#contact">CONTACT</a></li>
</ul>