<table class="companyInfo">
    <tr>
        <th>
            職種
        </th>
        <td>
            総合職(営業・販売・仕入) <br>
            <ul class="none">
                <li>
                    ◎アイデアや意見を発信することが好きな方
                </li>
                <li>
                    ◎積極的に学ぶ姿勢のある方
                </li>
                <li>
                    ◎海外に興味がある方
                </li>
                <li>
                    ◎ファッションに興味のある方
                </li>
                <li>
                    ◎インターネットビジネスに興味のある方
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>
            勤務地
        </th>
        <td>
            <p>
                【関西エリア】<br>
                大阪市北区・中央区
            </p>
            <p>
                【東京エリア】<br>
                東京23区(中央区・台東区)
            </p>
        </td>
    </tr>
    <tr>
        <th>
            勤務時間
        </th>
        <td>
            9:30〜18:30（休憩1h）<br>
            ★毎週金曜日はノー残業デー！
        </td>
    </tr>
    <tr>
        <th>
            給与
        </th>
        <td>
            <p>
                ◆月給：303,215円<br>
                一律総合職手当：20,000円<br>
                固定残業代：83,215円　※55時間分の固定残業代が含まれます。<br>
                残業が55時間を超えた場合、超過分を支給します。
            </p>
            <ul class="none">
                <li>
                    ★前給、経験、能力を考慮の上、優遇します！
                </li>
                <li>
                    ★別途住宅手当2万円支給（半径1.8km以内の徒歩圏内※それ以外の方は一律1万円支給）
                </li>
                <li>
                    ★別途地域手当1万円支給（関東地区）
                </li>
            </ul>
            <p>
                【年収例】
                1000万円／入社5年目、部長／月給70万円＋インセンティブ＋賞与<br>
                800万円／入社6年目、店舗責任者（課長）／月給55万円＋インセンティブ＋賞与<br>
                530万円／入社2年目、副店長（係長）／月給33万円＋インセンティブ＋賞与
            </p>
            <p>
                【対象学歴】
                大卒・大学院卒・専門学校卒<br>
                ※支給額は対象学歴一律です。
            </p>
        </td>
    </tr>
    <tr>
        <th>
            諸手当
        </th>
        <td>
            交通費支給（2万円まで／月） <br>
            地域手当1万円（東京のみ） <br>
            表彰制度（年間MVP・優秀賞・新人賞。祝い金を支給）
        </td>
    </tr>
    <tr>
        <th>
            昇給
        </th>
        <td>
            年1回<br>毎年12月に個人評価の見直しを行います。
        </td>
    </tr>
    <tr>
        <th>
            賞与
        </th>
        <td>会社業績と個人成績を総合的に評価して12月に支給
        </td>
    </tr>
    <tr>
        <th>
            休日休暇
        </th>
        <td>
            <div>
                <p>
                    月9日　シフト制<br>
                    ※土日祝を休むことや連休も可能。店舗内で話し合って決めています※月間28日の月のみ8日休み）<br>
                </p>
                <ul class="inline">
                    <li>
                        夏季
                    </li>
                    <li>
                        年末年始
                    </li>
                    <li>
                        慶弔
                    </li>
                    <li>
                        有給
                    </li>
                </ul>
            </div>
            <p>
                ★年間休日：117日★<br>
                ※夏季休暇・年末年始休暇は会社カレンダーに準ずるものとします。<br>
                したがって、年度によっては各休暇日数が前後する場合があります。
            </p>
        </td>
    </tr>
    <tr>
        <th>
            保険
        </th>
        <td>各種社会保険完備（厚生年金保険、健康保険、労災保険、雇用保険）</td>
    </tr>
    <tr>
        <th>
            待遇
        </th>
        <td>
            <ul class="inline">
                <li>
                    昇給年1回
                </li>
                <li>
                    賞与年1回
                </li>
                <li>
                    社会保険完備
                </li>
                <li>
                    交通費支給（月2万円迄）
                </li>
                <li>
                    地域手当1万円（関東地区／東京、千葉、埼玉、神奈川）
                </li>
                <li>
                    住宅手当月2万円（半径1.8km以内の徒歩圏内※それ以外の方は一律1万円支給）
                </li>
                <li>
                    表彰制度
                </li>
                <li>
                    借上社宅制度
                </li>
                <li>
                    出産祝金制度
                </li>
                <li>
                    各種研修制度
                </li>
                <li>
                    定期健康診断
                </li>
                <li>
                    私服勤務可
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>
            試用期間
        </th>
        <td>あり （入社後6ヶ月間 ）<br>その他条件は本採用時と変更なし</td>
    </tr>
    <tr>
        <th>
            研修
        </th>
        <td>
            <p>
                あり 
            </p>
            <ul class="inline">
                <li>
                    入社時研修（ビジネスマナー研修など）
                </li>
                <li>
                    各種ハイブランド研修（ルイヴィトン、シャネル、エルメス、セリーヌ他）
                </li>
                <li>
                    加盟協会「日本流通自主管理協会（AACD）」研修
                </li>
                <li>
                    大手リサイクルショップ『おたからや』(株式会社いーふらん) 研修
                </li>
                <li>
                    英会話研修
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>
            応募・選考時　提出書類
        </th>
        <td>
            <ul class="inline">
                <li>
                    OpenES
                </li>
                <li>
                    履歴書
                </li>
                <li>
                    成績書
                </li>
                <li>
                    その他
                </li>
            </ul>
        </td>
    </tr>
</table>