<table class="companyInfo">
    <tr>
        <th>
            職種
        </th>
        <td>
            <p>
                販売・受付事務・軽作業
            </p>
            <p>
                ネットオークションの出品物の <br>
                撮影・出品・発送が主な業務。 <br>
                他、社印が店舗不在時に来客対応なども <br>
                お願いいたします。 <br>
                接客未経験者も大歓迎。
            </p>
        </td>
    </tr>
    <tr>
        <th>
            勤務地
        </th>
        <td>
            <p>
                【関西エリア】<br>
                大阪市北区・中央区
            </p>
        </td>
    </tr>
    <tr>
        <th>
            勤務時間
        </th>
        <td>
            <p>
                10:30〜19：30
            </p>
            <p>
                ★週3日〜、１日4h〜OK <br>例）10:00〜14：00、12:00〜16：30
            </p>
            <ul>
                <li>
                    時間・曜日　応相談
                </li>
                <li>
                    フルタイム勤務歓迎
                </li>
                <li>
                    扶養内勤務可能
                </li>
                <li>
                    短時間勤務もOK
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>
            給与
        </th>
        <td>
            <p>◆1200円<br>
                交通費規定支給</p>
            <p>
                【対象学歴】<br>
                大卒・大学院卒・専門学校卒
            </p>
        </td>
    </tr>
    <tr>
        <th>
            保険
        </th>
        <td>
            -
        </td>
    </tr>

    <tr>
        <th>
            待遇
        </th>
        <td>
            <ul class="inline">
                <li>
                    昇給有り
                </li>
                <li>
                    髪型自給
                </li>
                <li>
                    未経験OK
                </li>
                <li>
                    ＰＣで文字入力ができる方
                </li>
                <li>
                    特別なPCスキルは不要
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>
            試用期間
        </th>
        <td>なし</td>
    </tr>
</table>