<table class="companyInfo">
    <tr>
        <th>
            職種
        </th>
        <td>
            <p>
                販売・受付事務・軽作業
            </p>
            <p>
                来客の受付・販売接客のサポート、<br>
                ネットオークションの出品物の撮影、<br>
                出品・発送が主な業務です。<br>
                近隣にある世界有名ブランド店舗の<br>
                視察も行っていただきます。<br>
                ブランド好きにはたまらないお仕事です。
            </p>
            <p>
                研修あり。接客未経験者も大歓迎です。
            </p>
        </td>
    </tr>
    <tr>
        <th>
            勤務地
        </th>
        <td>
            <p>
                【東京エリア】<br>
                東京23区(中央区・台東区・新宿区)
            </p>
        </td>
    </tr>
    <tr>
        <th>
            勤務時間
        </th>
        <td>
            <p>
                10:30〜19：30
            </p>
            <p>
                ★週3日〜、１日4h〜OK <br>
                例）10:30〜19：30、13:00〜17：30 <br>
                15:00〜19：30
            </p>
            <ul>
                <li>
                    時間・曜日　応相談
                </li>
                <li>
                    フルタイム勤務歓迎
                </li>
                <li>
                    扶養内勤務可能
                </li>
                <li>
                    短時間勤務もOK
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>
            給与
        </th>
        <td>
            <p>◆1400円<br>
                交通費規定支給</p>
            <p>
                <strong>【対象学歴】</strong> <br>
                大卒・大学院卒・専門学校卒
            </p>
        </td>
    </tr>
    <tr>
        <th>
            保険
        </th>
        <td>
            -
        </td>
    </tr>

    <tr>
        <th>
            待遇
        </th>
        <td>
            <ul class="inline">
                <li>
                    昇給有り
                </li>
                <li>
                    髪型自給
                </li>
                <li>
                    未経験OK
                </li>
                <li>
                    ＰＣで文字入力ができる方
                </li>
                <li>
                    特別なPCスキルは不要
                </li>
            </ul>
        </td>
    </tr>
    <tr>
        <th>
            試用期間
        </th>
        <td>なし</td>
    </tr>
</table>