<table class="companyInfo">
    <tr>
        <th>
            職種
        </th>
        <td>
            総合職(営業・販売・仕入)
        </td>
    </tr>
    <tr>
        <th>
            勤務地
        </th>
        <td>
            【大阪・大阪市エリア】 <br>
            大阪市北区堂山町1-5 三共梅田ビル3階 <br>
            大阪市中央区東心斎橋1-10-12 <br>
            【東京・台東区エリア】 <br>
            東京都台東区上野5-26-5　日清ビル5階
        </td>
    </tr>
    <tr>
        <th>
            勤務時間
        </th>
        <td>
            9：30～18：30　休憩1時間　所定労働時間：8時間
        </td>
    </tr>
    <tr>
        <th>
            給与
        </th>
        <td>
            月給：303,215円 <br>
            【内訳】 <br>
            基本給：200,000円 <br>
            一律総合職手当：20,000円／固定残業代：83,215円<br>
            ※55時間分の固定残業代が含まれます。 残業が55時間を超えた場合、超過分を支給します。<br>
            【対象学歴】 <br>
            大卒・大学院卒・専門学校卒 <br>
            ※支給額は対象学歴一律です。
        </td>
    </tr>
    <tr>
        <th>
            諸手当
        </th>
        <td>
            交通費支給（2万円まで／月） <br>
            地域手当1万円（東京のみ） <br>
            表彰制度（年間MVP・優秀賞・新人賞。祝い金を支給）
        </td>
    </tr>
    <tr>
        <th>
            昇給
        </th>
        <td>
            年1回　毎年12月に個人評価の見直しを行います。
        </td>
    </tr>
    <tr>
        <th>
            賞与
        </th>
        <td>会社業績と個人成績を総合的に評価して12月に支給
        </td>
    </tr>
    <tr>
        <th>
            休日休暇
        </th>
        <td>
            ■総合職 <br>
            月9回　シフト制※土日祝日をベースに休日を取得することも可能 <br>
            夏季休暇4日・年末年始5日 <br>
            その他休暇：慶弔休暇、有給休暇 <br>
            ★年間休日：117日★ <br>
            ※夏季休暇・年末年始休暇は会社カレンダーに準ずるものとします。 したがって、年度によっては各休暇日数が前後する場合があります。
        </td>
    </tr>
    <tr>
        <th>
            保険
        </th>
        <td>各種社会保険完備（厚生年金保険、健康保険、労災保険、雇用保険）</td>
    </tr>
    <tr>
        <th>
            待遇
        </th>
        <td>ロッカー・休憩スペースあり、定期健康診</td>
    </tr>
    <tr>
        <th>
            試用期間
        </th>
        <td>あり （入社後6ヶ月間 ）<br>その他条件は本採用時と変更なし</td>
    </tr>
</table>