<% 
	include( '_include/_function.ejs' );
	$path = './';
	$active = 'privacy';
    $meta.title="プライバシーポリシー";
%>
<!DOCTYPE html>
<html>
<%- include( '_include/head.ejs' ); %>
<body class="privacy">
	<%- include( '_include/header.ejs' ); %>
    <main>
		<!-- *****  -->
		<section class="section section--category section--textOnly">
			<header class="section__index js-effect">
				<span class="mask"><span class="mask__element">PRIVACY POLICY</span></span>
			</header>
			<div class="section__content">
				<div class="inner">
    				Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quod mollitia laborum est veniam, dolorem reiciendis a officiis laudantium fugit doloribus, eaque architecto vero reprehenderit autem magni ab tempore quidem?
				</div>
			</div>
		</section>
		<!-- ///// -->
	</main>
	<%- include( '_include/footer.ejs' ); %>
</body>
</html>